.bar {
  display: none;
}

/* MOBILE */
@media screen and (max-width: 430px) {
  .bar {
    display: inline;
  }

  .menu_bar {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 20px;
    border-bottom: 1px solid rgb(100 100 100);
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: initial;
  }

  .bar {
    width: 100%;
    height: 70px;
    background-color: black;
    border-bottom: 1px solid #4c4c4c;
  }

  .logo_mobile {
    width: 20%;
  }
}
