/* NavigationLoader.module.css */
.navigation_loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  background-color: #29D;
  z-index: 99999;
  
  /* Smoothly transition both the widening effect and the final fade out */
  transition: width 200ms ease, opacity 200ms ease;
  opacity: 1;
}