.desc {
  margin-top: 12px;
}

.title {
  font-size: 0.9em;
}

.sub_title {
  font-size: 0.8em;
  color: #828282;
  display: inline-block;
}

.sub_title:hover{
  border-bottom: 1px solid #828282;
}

.album_img {
  width: 98%;
}

.section_name {
  margin-bottom: 12px;
  font-size: 1.2em;
  font-weight: 600;
}

.section_name:hover{
  cursor: pointer
}

.img_container {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  /* border-radius: 8px;  */
}

.music_box {
  position: relative;
}

.actions {
  position: absolute;
  bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 2;

  opacity: 0; /* Hidden by default */
  transform: translateY(5px); /* Optional: slight slide-up animation effect */
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.action_button {
  position: relative;
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.action_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img_container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    transparent 20%,
    rgba(0, 0, 0, 0.7) 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  pointer-events: none;
}

.music_box:hover .img_container::after {
  opacity: 1;
  cursor: pointer;
}

.music_box:hover .actions {
  opacity: 1;
  transform: translateY(0);
}

.desc:hover {
  cursor: pointer;
}

.album_img {
  width: 100%;
  display: block;
  object-fit: cover;
  z-index: 0;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;

  word-break: break-word;

  line-height: 1.2rem;
  max-height: 2.4rem;
}

.Skeleton {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.Skeleton_div {
  width: 225px;
}

.heading {
  /* margin-bottom: 12px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view_all {
  font-size: 0.8em;
  color: #7c7c7c;
}

.view_all:hover{
  cursor: pointer;
  border-bottom: 1px solid #7c7c7c;
}

/* Mobile */

@media screen and (max-width: 430px) {
  .title {
    font-size: 1em;
  }

  .sub_title {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .title {
    display: block !important;
    overflow: visible !important;
    max-height: none !important;
    -webkit-line-clamp: unset !important;
    text-overflow: clip !important;
    white-space: normal !important;
  }
}
