.desc {
  margin-top: 12px;
}

.title {
  font-size: 0.9em;
}

.sub_title {
  font-size: 0.8em;
  color: #828282;
}

.album_img {
  width: 98%;
}

.section_name {
  margin-bottom: 12px;
  font-size: 1.2em;
  font-weight: 600;
}

.img_container {
  position: relative;
  overflow: hidden;
  
  /* border-radius: 8px;  */
}

.img_container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, transparent 20%, rgba(0, 0, 0, 0.7) 100%);
  opacity: 0;
  transition: opacity 0.3s ease;
  /* pointer-events: none; */
}

.music_box:hover .img_container::after {
  opacity: 1;
  cursor: pointer;
}

.desc:hover{
  cursor: pointer;
}

/* .album_img {
  width: 100%;
  display: block;
  object-fit: cover;
} */
