.button {
  position: relative;
  overflow: hidden;

  background-color: #fff;
  padding: 10px 0;
  /* padding: 10px 25px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;

  cursor: pointer;
  border-radius: 25px;
  font-weight: 600;
  color: #000;

}

.button > * {
  position: relative;
  z-index: 2;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;

  background-color: rgba(35, 14, 88, 0.2);
  transition: width 0.3s ease;
  z-index: 1;
}

.button::before {
  left: 0;
}

.button::after {
  right: 0;
}

.button:hover::before,
.button:hover::after {
  width: 50%;
}

.icon {
  margin-right: 10px;
}

.full_width{
  width: 100%;
}