.desc {
  margin-top: 12px;
}

.title {
  text-align: center;
  font-size: 0.9em;
}

.sub_title {
  font-size: 0.8em;
  color: #828282;
}

.album_img {
  width: 98%;
}

.section_name {
  margin-bottom: 12px;
  font-size: 1.2em;
  font-weight: 600;
}

.artist_img {
  border-radius: 50%;
  border-radius: 50%;
  width: 90%;
}

.img_container{
  display: flex;
  justify-content: center;
}